Package: hello-dbgsym
Source: hello
Version: 0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: YeongSeok Lee <yeongseok_lee@tmax.co.kr>
Installed-Size: 27
Depends: hello (= 0.1-1)
Section: debug
Priority: optional
Description: debug symbols for hello
Build-Ids: e200b50f14f9bf92a8eb8a9a27e31443aa84baec
